@model IEnumerable<Project2.Models.MissionQuestions>

@{
    ViewBag.Title = "MissionFAQs";
}

<h2>Mission FAQs</h2>

@* Breadcrumb navigation bar *@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Home</a></li>
    <li><a href="@Url.Action("SelectMission","Home")">Select Mission</a></li>
    <li><a href="@Url.Action("Index","Missions", new { id = Html.Raw((int)ViewBag.MissionID)})">@Html.Raw((string)ViewBag.MissionName) </a></li>
    <li>@Html.Raw((string)ViewBag.MissionName) FAQs</li>
</ul>
    
<div class="container">
    <h3>Questions:</h3>
    <hr />
    <div class="row">
        <div class="col-md-4 right">
            @Html.ActionLink("Ask a question", "Create", "MissionQuestions", new { id = Html.Raw((int)ViewBag.MissionID) }, new { @class = "btn btn-primary" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @foreach (var item in Model)
            {
                <p><b>@Html.DisplayFor(modelItem => item.Question)</b></p>
                <p>&emsp;@Html.DisplayFor(modelItem => item.Answer)</p>
                @Html.ActionLink("Reply", "Reply", "MissionQuestions", new { id = Html.DisplayFor(modelItem => item.MissionQuestionID) }, new { @class = "btn btn-success" })
                <hr />
            }
        </div>
    </div>
</div>