@model Project2.Models.Missions
@{
    ViewBag.Title = "MissionFAQs";
}

<h2>Mission Information</h2>
@* Breadcrumb navigation bar *@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Home</a></li>
    <li><a href="@Url.Action("SelectMission","Home")">Select Mission</a></li>
    <li>@Html.DisplayFor(model => model.MissionName)</li>
</ul>



<h3>@Html.DisplayFor(model => model.MissionName)</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="flag-mission" src="@Html.DisplayFor(model => model.FlagImagePath)" />
        </div>
        <div class="col-md-6">
            <p><b>Mission President: </b>@Html.DisplayFor(model => model.PresidentName)</p>
            <p><b>Mission Address: </b>@Html.DisplayFor(model => model.StreetAddress)</p>
            <p><b>Mission Language: </b>@Html.DisplayFor(model => model.Language)</p>
            <p><b>Climate: </b>@Html.DisplayFor(model => model.Climate)</p>
            <p><b>Dominant Religion: </b>@Html.DisplayFor(model => model.DominantReligion)</p>

            @Html.ActionLink("View FAQ Page", "FAQ", "Missions", new { id = Html.DisplayFor(model => model.MissionID) }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

